@page "/"

<PageTitle>Home</PageTitle>


<h1 class="text-2xl font-bold mb-4 mt-[50px]">Admin Email:        said.amir.kattan@outlook.com</h1>
<h1 class="text-2xl font-bold mb-4 mt-[50px]">Admin Password:        aaa111!!!AAA</h1>
<h1 class="text-2xl font-bold mb-4 mt-[50px]">Add data in Sell page</h1>




