@page "/"

<PageTitle>Home</PageTitle>


<h1 class="text-4xl font-bold mb-4 mt-[111px]">Admin Email: said.amir.kattan@outlook.com</h1>
<h1 class="text-4xl font-bold mb-4 mt-[111px]">Admin Password: aaa111!!!aaa</h1>




