@page "/Shop"


<SearchBar />

<div class="grid  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
	@for (var i = 0; i < 12; i++)
   {
		<RealEstateCard />

   }

</div>
<div class="flex justify-center my-10">
	<Pagination/>
</div>



@code {

}
