@page "/Shop"
@inject HttpClient Http
@inject IShopViewModel shopViewModel


<SearchBar OnSearch="GetRealEstates"/>
<Filter/>



<div class="grid  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
	@foreach(var realEstate in realEstates)
   {
	<RealEstateCard RealEstate="@realEstate"/>

   }

</div>



<div class="flex justify-center my-10">
	<Pagination OnSearch="GetRealEstates" />
</div>



@code {



	private RealEstate[] realEstates = Array.Empty<RealEstate>();


	protected override async Task OnInitializedAsync()
	{
		try {
			realEstates = await Http.GetFromJsonAsync<RealEstate[]>("Search?PageNumber=1&PageSize=20");

		}
		catch (Exception e)
		{
			
		}
	}

	public async Task GetRealEstates()
	{
		realEstates = shopViewModel.RealEstateData;
	}
	
}
