<ul class="flex justify-end mt-6 ml-8 text-white uppercase tracking-wider  ">
    <li>
        <NavLink class="mr-6 pb-2 border-b-4 border-purple-700 hover:border-green-400" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li>
        <NavLink class="mr-6 pb-2 border-b-4 border-purple-700 hover:border-green-400" href="Shop">
            Shop
        </NavLink>
    </li>
    <li>
        <NavLink class="mr-6 pb-2 border-b-4 border-purple-700 hover:border-green-400 " href="Contact">
            Contact Us
        </NavLink>
    </li>
     
</ul>
