@inject IBuyViewModel shopViewModel



<!-- component -->
  <div class="flex flex-col items-center">
      <button @onclick="ShowFilter" class=" bg-indigo-600 rounded-b-full shadow-xl w-32 h-10 text-white tracking-wider">Filter</button>
     <div id="filterSection" class="filterSection max-w-4xl  mx-auto bg-indigo-600 rounded-md shadow-md dark:bg-gray-800 mt-6">
         <div  class="  p-6">

    <p class="text-xl mb-6 font-bold text-white capitalize dark:text-white">Filter Settings</p>
    
        <div class="grid gap-5 lg:grid-cols-2  md:grid-cols-2 sm:grid-cols-1 ">
            <div class="flex flex-row gap-3 ">
                <div>
                    <label class="text-white dark:text-gray-200" for="priceFrom">Price From</label>
                    <input @bind="priceFrom" id="priceFrom" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                </div>

                <div>
                    <label class="text-white dark:text-gray-200" for="priceTo">Price To</label>
                    <input @bind="priceTo" id="priceTo" type="number" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                </div>
            </div>
            
            <div class="flex flex-row gap-3 ">
                <div>
                    <label class="text-white dark:text-gray-200" for="country">Country</label>
                    <select @bind="@country"  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                        <option>--Select--</option>
                        <option value="Egypt">Egypt</option>
                        <option value="USA">USA</option>
                        
                    </select>
                </div>

                <div>
                    <label class="text-white dark:text-gray-200" for="city">City</label>
                    <select @bind="@city"  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                        <option value="Cairo">Cairo</option>
                        <option value="Aswan">Aswan</option>
                        <option value="Sohag">Sohag</option>
                    </select>
                </div>
            </div>

            <div class="flex flex-row gap-3 ">
                <div>
                    <label class="text-white dark:text-gray-200" for="country">Bedrooms</label>
                    <input @bind="roomNum" id="country" type="number" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                </div>

                <div>
                    <label class="text-white dark:text-gray-200" for="city">Bathrooms</label>
                    <input @bind="bathNum" id="city" type="number" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                </div>
            </div>

            

          
         
            
        </div>

        <div class="flex justify-end mt-6">
            <button @onclick="SaveFilter" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600">Save</button>
        </div>
    
</div>
     </div>
    
  </div>



  
<style>
	#filterSection {
        animation-duration: 300ms;
		animation-name: @showFilter ;
        animation-fill-mode: forwards;
      
        overflow: hidden;
	}


    @@keyframes default{
		0%
		{
            max-height: 0rem;
		}
        100%
		{
            max-height: 0rem;
		}
    }

	@@keyframes show{
		0%
		{
            max-height: 0rem;
		}
        100%
		{
            max-height: 30rem;
		}

	}

	@@keyframes hide{
		0%
		{
            max-height: 30rem;
		}
        100%
		{
            max-height: 0rem;
		}
	}



</style>


@code {

    private string showFilter = "default";

    private string? country;
    private string? city;
    private string? priceFrom;
    private string? priceTo;
    private string? roomNum;
    private string? bathNum;
    private string? spaceFrom;
    private string? spaceTo;

    private void ShowFilter()
    {
        if (showFilter != "show")
            showFilter = "show";
        else
            showFilter = "hide";

    }


    private void SaveFilter()
    {
        shopViewModel.PriceFrom = priceFrom;
        shopViewModel.PriceTo = priceTo;
        shopViewModel.BedroomNum = roomNum;
        shopViewModel.BathroomNum = bathNum;
        shopViewModel.MinSpace = spaceFrom;
        shopViewModel.MaxSpace = spaceTo;

    }


}
