@inject IShopViewModel shopViewModel

  <div class=" bg-white flex items-center rounded-full shadow-xl">
       
    <input @bind="searchQuery"  class=" rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search"  type="text" placeholder="Search" />
    <div class="p-4">
     
      <button @onclick="Search" class="bg-indigo-600 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center">
        Search
      </button>
    </div>
  </div>





@code {
    private string searchQuery;

    [Parameter]
    public EventCallback OnSearch { get; set; }

    public async Task Search()
    {
        shopViewModel.SearchQuery = searchQuery;
        await shopViewModel.Search();
        await shopViewModel.PageClick.InvokeAsync();
        await OnSearch.InvokeAsync();
    }

}
